{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel"
  ],
  "env": {
    "server": {
      "plugins": [
        "ignore-html-and-css-imports"
      ]
    }
  }
}