.home {
  margin: 40px;
  .row {
    .desc {
      height: 30px;
      line-height: 30px;
      font-size: 20px;
      margin-right: 10px;
      color: red;
    }
    .ipt {
      height: 20px;
      width: 200px;
      font-size: 16px;
    }
  }
}